@model Category

<h1 class="text-center">@Model.Name</h1>
<hr>
<div class="row">
  <div class="col">
    <h2 class="">Products:</h2>
    @foreach(var item in @Model.Items)
    {
        <h4>- @item.Product.Name</h4>
    }

  </div>
  <div class="col">
      <h4>Add Category:</h4>
      @{
          Association newAssociation = new Association() {CategoryId = Model.CategoryId};
      }
      <partial Name="AddProductToCategory" model="newAssociation"/>
  </div>  
</div>